.listing {
    padding: 30px;
    height: 100vh;

    .add-product{
        margin-bottom: 20px;
        float: right;
    }

    .product-img {
        width: 50px;
        height: 50px;
        align-items: center;
    }

    .actions {
        display: flex;
        height: 73px;
        align-items: center;
        button {
            margin-right: 10px;
        }
    }

    td {
        &.ellipses {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 1px;
        }
    }
}