<div class="mat-elevation-z8 products">
    <div class="categories">
        <mat-chip-listbox aria-label="Category Selection">
            <mat-chip-option *ngFor="let category of categories" (click)="productByCategory(category)">{{category}}</mat-chip-option>
            <mat-chip-option (click)="getProducts()">
                Reset Filter
                <button matChipRemove [attr.aria-label]="'remove'">
                    <mat-icon>cancel</mat-icon>
                  </button>
            </mat-chip-option>
          </mat-chip-listbox>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex.lg="25" fxFlex.md="50" fxFlex.xs="100" *ngFor="let item of data">
            <mat-card class="product-card">
                <mat-card-header>
                    <div mat-card-avatar class="product-header-image"></div>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.price}}$</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item.image" [alt]="item.title">
                <mat-card-content>
                    <p>
                        {{item.truncatedDescription}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button routerLink="/products/details" [state]="{ data: item }">VIEW</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>